<div class="header">
    <a class="header__title-left-wrapper" href="/sam_fm/"><img class="header__title-left" src="/sam_fm/img/SAM.svg"></a>
    <div class="header__links-wrapper">
        <div class="header__page-links">
            <a class="<% if (typeof currentRoute !== 'undefined') { %><%= isActiveRoute('/', currentRoute) %><% } %>" href="/sam_fm/">home</a><a 
            class="<% if (typeof currentRoute !== 'undefined') { %><%= isActiveRoute('/schedule', currentRoute) %><% } %>" href="/sam_fm/schedule">schedule</a><a 
            class="<% if (typeof currentRoute !== 'undefined') { %><%= isActiveRoute('/get-involved', currentRoute) %><% } %>" href="/sam_fm/get-involved">get involved</a>
        </div>

        <div class="header__auth-links">
            <% if (loggedIn) { %>
                <a class="header__login-out <% if (typeof currentRoute !== 'undefined') { %><%= isActiveRoute('/dashboard', currentRoute) %><% } %>" href="/sam_fm/dashboard">dashboard</a><a 
                class="header__login-out" href="/sam_fm/logout">logout</a>
            <% } else { %>
                <a class="header__login-out <% if (typeof currentRoute !== 'undefined') { %><%= isActiveRoute('/login', currentRoute) %><% } %>" href="/sam_fm/login">login</a>
            <% } %>
        </div>
    </div><a 
    class="header__title-left-wrapper" href="/sam_fm/"><img class="header__title-right" src="/sam_fm/img/FM.svg"></a>
    
</div>