<% scheduleData.forEach( scheduleDatum => { %>
    <div class="schedule__day-container">
        <h1><%= scheduleDatum.title %></h1>
        <span class="schedule__cest-label">all times CEST</span>
    </div>

    <table class="schedule-table">
        <thead>
            <th style="width:1rem; vertical-align: bottom;"></th>
            <th style="width:2rem; vertical-align: bottom;"></th>
            <th style="width:2rem; vertical-align: bottom;"></th>
            <th style="width:4rem; vertical-align: bottom;"></th>
        </thead>

        <tbody>
            <% scheduleDatum.columns.forEach( column => { %>
                <tr class="underline <% if (column.live) { %>bold<% } %>" onclick="window.location='/schedule-entries/<%= column.scheduleEntry._id %>'">
                    <td><%- column.content %></td>
                    <td><%= column.scheduleEntry.location %></td>
                    <td><%= column.scheduleEntry.participants %></td>
                    <td class="schedule-table__description"><%- column.scheduleEntry.description %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="break2"></div>
<% }); %>

<script>
const webSocketUrl = '<%= webSocketUrl %>';
</script>
<script type="text/javascript" src="/js/schedule.js"></script>